.dashboard-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  margin-left: 230px; /* Reserve space for sidebar */
  width: 171vh;
  padding: 2rem;
  overflow-y: auto;
  
  background-color: rgba(108, 161, 77, 0);
  height: 100vh;
}

.dashboard-header {
  margin-bottom: 1.5rem;
}

.course-section,
.todo-section {
  margin-bottom: 2rem;
}

.course-card {
  min-width: 0;
}
@media (max-width: 768px) {
  body {
    background-color: pink;  /* Just to test */
  }
}

